body {
    margin: 0;
    overflow: hidden; /* Prevent scrolling */
}

.page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 1s ease;
}

.hidden {
    opacity: 0;
    pointer-events: none; /* Prevent interaction when hidden */
}

.background {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure images cover the entire screen */
}

.clickable-area {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; /* Makes the entire landing page clickable */
 cursor: pointer;
    z-index: 10; /* Ensure it's on top */
}

#hearts-page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200vh; /* Set to twice the viewport height for scrolling */
    overflow-y: scroll; /* Enable vertical scrolling */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 0;
    transition: opacity 2s;
}

.extra-content {
    height: 100vh; /* Additional space below the image */
    width: 100%;
    background-color: #f0f0f0; /* Just a placeholder color */
}
